/*Стили для галереи картин*/
h2{
	color: red;
}
.images .images-wrapper h3 {
	text-align: center;
	width: 140px;
}

.images .images-wrapper {
	display: inline-block;
	width: 140px;
}
.images .images-wrapper .p-img {
	margin: 0 auto;
	width: 130px;
}
.images .images-wrapper img {
	width: 100px;
	height: 100px;
	padding: 15px;
}

/*Стили для одной картины*/
.image-one {
	margin: 0 auto
}
.image-one img{
	padding: 20px
}
.image-one h3 {
	font-size: 40px;
	text-align: center
}