/*Стили для галереи картин*/
h2 {
	color: red;
	text-align: center;
	font-size: 40px;
}
.images .images-wrapper h3 {
	text-align: center;
	width: 140px;
}

.images .images-wrapper {
	display: inline-block;
	width: 140px;
}
.images .images-wrapper .p-img {
	margin: 0 auto;
	width: 130px;
}
.images .images-wrapper img {
	width: 100px;
	height: 100px;
	padding: 15px;
}

/*Стили для одной картины*/
.image-one {
	margin: 0 auto
}
.image-one img{
	padding: 20px;
	width: 100%
}

/*Калькулятор*/

.place-number {
	width: 30px;
	height: 30px;
	margin-left: 15px;
	padding: 10px;
	font-size: 20px;
	color: blue
}

/*Отзывы*/

.review ul {
	list-style-type: none;
}
.review ul li {
	margin-bottom: 15px;
}
.reviews form {
	margin-left: 40px;
}

/*Каталог*/
.catalog img {
	width: 200px;
}
.catalog .catalog_product {
	width: 300px;
    border: 2px solid blue;
    text-align: center;
    padding: 10px;
	margin: 20px
}

/*Продукт*/

.product {
	text-align: center
}
.product img {
	width: 50%
}